:root {
  --color0: #ffffff;
  --color1: #d6f5d6;
  --color2: #a8e6a3;
  --color3: #6fdd6f;
  --color4: #3acc3a;
  --color5: #0a7f0a;

  --solid-border: 3px solid black;
  --dashed-border: 2px dashed gray;
  background-color:red;
}

table {
  margin: 0 auto;
}



.available-0 { background-color: var(--color0); }
.available-1 { background-color: var(--color1); }
.available-2 { background-color: var(--color2); }
.available-3 { background-color: var(--color3); }
.available-4 { background-color: var(--color4); }
.available-5 { background-color: var(--color5); }

.sharp td {
  border-bottom: var(--solid-border);
}

.half td {
  border-bottom: var(--dashed-border);
}

#legend {
  margin-top: 20px;
}

#legend-gradient {
  height: 20px;
  width: 100%;
  background-image: linear-gradient
  #legend-gradient {
  height: 20px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--color0) 0%,      var(--color0) 16.66%,
    var(--color1) 16.66%,  var(--color1) 33.32%,
    var(--color2) 33.32%,  var(--color2) 49.98%,
    var(--color3) 49.98%,  var(--color3) 66.64%,
    var(--color4) 66.64%,  var(--color4) 83.3%,
    var(--color5) 83.3%,   var(--color5) 100%
  );

}
